@import "../../assets/scss/variables.scss";

#Choose {
  background: url("../../assets/images/icons/purple-circle.svg"),
    url("../../assets/images/icons/cross.svg"),
    url("../../assets/images/icons/pink-circle.svg");
  background-repeat: no-repeat;
  background-position: 4% 13%, 0% 85%, 100% 23%;

  @include media-screen($lg) {
    background: none;
  }
}

.choose-us-section {
  .section-heading {
    .primary {
      margin: 0;
      margin-bottom: 80px;
    }
  }
  .card-container {
    @include d-flex($display: grid, $gap: 30px, $align: start);
    grid-template-columns: auto auto auto auto;
    @include media-screen($xl) {
      grid-template-columns: auto auto;
      place-content: center;
    }
    @include media-screen($md) {
      grid-template-columns: auto;
      place-content: center;
    }
    .quality-card {
      height: 300px;
      max-width: 211px;
      width: 100%;
      padding: 49px 33px;
      border: 1px solid $border-color;
      border-radius: 25px;
      transition: all 0.3s ease-in-out;
      &:hover {
        transition: all 0.3s ease-in-out;
        box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
        top: -4px;
        border: 1px solid #cccccc;
        background-color: $primary;
        transform: scale(1.01);
      }
      img {
        margin-bottom: 34px;
      }
      .card-heading {
        h1 {
          margin-top: 0;
          word-spacing: 50px;
          @include font-style(28px, bold);
        }
        margin-bottom: 24px;
        height: 68px;
      }
      .card-description {
        p {
          @include font-style(17px, normal);
          color: $font-color;
          line-height: 27px;
        }
      }
      &:nth-child(even) {
        margin-top: 48px !important;
        @include media-screen($xl) {
          margin-top: 0px !important;
        }
      }
    }
  }
}
